body {
    background-color: #212529;
}

.bg-light-dark {
    background-color: #2B3035;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.graph-container img {
    border-radius: 15px;
    border: 2px solid #0dcaf0;
    box-shadow: 0 0 15px rgba(13, 202, 240, 0.3);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}



.premium-input {
    background-color: #212529 !important;
    color: white !important;
    border: 1px solid #444 !important;
    border-radius: 10px !important;
    padding: 12px 20px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3) !important;
    transition: all 0.3s ease !important;
}

.premium-input:focus {
    border-color: #0dcaf0 !important;
    box-shadow: 0 0 10px rgba(13, 202, 240, 0.5) !important;
    outline: none !important;
}

.graph-container img:hover {
    transform: scale(1.02);
}

.navbar-divider {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #0dcaf0, transparent);
    box-shadow: 0 0 10px rgba(13, 202, 240, 0.5);
    margin: 0;
    opacity: 0.7;
}